@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }

a:link {
  text-decoration: none;
	color: #131313;
}

a:visited {
  text-decoration: none;
	color: #131313;
}

a:hover {
  text-decoration: none;
	color: #FCA311;
}

a:active {
  text-decoration: none;
	color: #131313;
}

.app {
  background-color: #ffdca3;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  height: 100vh;  
  }  

  /* NAV */
  nav {    
    height: 60px;
    background: #0A0A0A;
    color: white;
  }

.nav-container {
	display: flex;
    justify-content: space-between;
    align-items: center;
	height: inherit;
	max-width: 400px;
	margin: auto;
}

nav a:link {
  text-decoration: none;
	color: white;
}

nav a:visited {
  text-decoration: none;
	color: white;
}

nav a:hover {
  text-decoration: none;
	color: #FCA311;
}

nav a:active {
  text-decoration: none;
	color: white;
}
  
  .nav-links {    
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navLink{
    color: white;
	  margin-right: 10px;
  }

    /* Home page */
  .page-container {
    background: #14213D;    
    max-width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: auto;
    min-height: calc(100vh - 60px);
    padding: 20px;
  }
  
  .link {
    background: #E5E5E5;
    height: 72px;
    border-radius: 10px;
    
    -webkit-box-shadow: 0px 6px 14px -1px rgba(0,0,0,0.75), 0px 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0,0,0,0.75), 0px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 6px 8px -1px rgba(0,0,0,0.1), 0px 1px 1px rgba(0, 0, 0, 0.15);
   
    padding: 3px 10px;
    font-size: 18px;
    margin-top: 10px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button-container {
    display: flex;  
	  justify-content: center;
  }

.main-button {
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

	.button-primary {
		background-color: #FCA311;
		border: 1px solid #FCA311;
	}

  .button-delete {     
    background-color: transparent;
	  border: 1px solid red;
	  color: red;
  }

  .button-edit {
    height: 50px;
    width: 46px;
    border: 1px solid #f1f1f1;
    background-color: #FCA311;
    border-radius: 10px;
    margin-left: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
	  cursor: pointer;
  }

  .input {
    height: 50px;
    width: 100%;
    border-top: 0px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    margin-bottom: 10px;
    padding-left: 20px;
  }




